@font-face {
  font-family: 'ColfaxAI';
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format('woff2'),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ColfaxAI';
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format('woff2'),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
body {
  background: var(--clr-bg);
  color: var(--clr-neon);
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: var(--clr-neon);
  font-family: 'ColfaxAI', Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.75em;
}
.icon {
  width: 8em;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  line-height: 2.5em;
  font-weight: bold;
  color: var(--clr-neon);
  margin: 1em 0 1.5em;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 20em;
}
.textBox {
  padding: 0.75em 1em;
  background-color: hsl(321, 29%, 22%);
  outline-color: var(--clr-neon);
  border-radius: 0.25em;
  margin-bottom: 1.5em;
  color: #b8b8c1;
  border: var(--clr-neon) 0.125em solid;
  text-shadow: 0 0 0.1em hsl(0 0% 100% / 0.4), 0 0 0.1em currentColor;
  box-shadow: inset 0 0 0.2em 0 var(--clr-neon), 0 0 0.2em 0 var(--clr-neon);
  border-radius: 0.25em;
}
.textBox:focus {
  outline-color: var(--clr-neon);
  outline: none;
}
.textBox::after {
  outline-color: var(--clr-neon);
}
.main ::placeholder {
  color: #b8b8c1;
  opacity: 1;
}
.generateButton {
  position: relative;
  padding: 0.75em 0;
  font-size: 4rem;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  background: var(--clr-bg);
  border-radius: 0.25em;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.4), 0 0 0.125em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.generateButton:hover {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}
.loader {
  margin-top: 3.5rem;
}
pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-weight: bold;
  margin-top: 2.5rem;
  max-width: 90%;
  justify-content: center;
  display: flex;
}
